<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Coupon</title>
</head>
<body>
<h2>Create Coupon</h2>
<form name="f" action="#" th:action="@{/saveCoupon}" method="post">
    Code:
    <label>
        <input name="code"/>
    </label>
    Discount:
    <label>
        <input name="discount"/>
    </label>
    Expired Date:
    <label>
        <input name="expDate"/>
    </label>
    <input type="submit" value="Save">
</form>
</body>
</html>
